<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:localeConfig="@xml/locales_config"
        android:theme="@style/Theme.OSTTools"
        tools:targetApi="33">
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="false" />

        <activity
            android:name=".presentation.WelcomeActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <activity
            android:name=".presentation.setup.SetupActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:noHistory="false" />

        <activity
            android:name=".share.ShareActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="false">
            <intent-filter>
                <action android:name="com.ost.application.action.SEND_FILES" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <service
            android:name=".share.WearShareService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice">
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".explorer.ImageActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name=".explorer.TextEditorActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/json" />
                <data android:mimeType="application/xml" />
            </intent-filter>
        </activity>
        <activity android:name=".explorer.VideoActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity android:name=".explorer.music.MusicActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity android:name=".explorer.FileExplorerActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="false"/>
        <activity
            android:name=".explorer.RenameActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="false"/>
        <activity android:name=".explorer.pdfreader.PdfReaderActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.tools.PixelTestActivity"
            android:excludeFromRecents="true"
            android:exported="false" android:noHistory="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:resizeableActivity="true"/>
        <activity
            android:name=".presentation.tools.BurnInRecoveryActivity"
            android:excludeFromRecents="true"
            android:exported="false" android:noHistory="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:resizeableActivity="true"/>
        <activity android:name=".presentation.battery.BatteryActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="false"/>
        <activity android:name=".presentation.display.DisplayActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="false"/>
        <activity android:name=".presentation.network.NetworkActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="false"/>
        <activity android:name=".presentation.cpu.CpuActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="false"/>
        <service
            android:name=".explorer.music.PlaybackService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>

        <activity android:name=".explorer.music.LibraryActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="false"/>

        <!-- Optional launcher shortcuts, toggled from Settings > Shortcuts. -->
        <activity-alias
            android:name=".ExplorerShortcut"
            android:targetActivity=".explorer.FileExplorerActivity"
            android:label="@string/file_explorer"
            android:icon="@mipmap/ic_launcher_explorer"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".MusicShortcut"
            android:targetActivity=".explorer.music.LibraryActivity"
            android:label="@string/music"
            android:icon="@mipmap/ic_launcher_music"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".presentation.ShortcutsActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="false"/>

        <activity android:name=".presentation.stargazers.StargazersActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="false"/>
        <activity android:name=".presentation.DefaultActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="false"/>
        <activity android:name=".presentation.AboutActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="false"/>
        <activity android:name=".presentation.SettingsActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="false"/>
        <activity android:name=".presentation.UpdateActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="false"/>
        <activity android:name=".appmanager.AppManagerActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="false"/>
        <activity android:name=".presentation.powermenu.PowerMenuActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="false"/>
        <activity android:name=".presentation.memory.RamActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="false"/>
        <activity android:name=".presentation.memory.StorageActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="false"/>

        <service
            android:name="com.ost.application.core.service.OstAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true"
            android:label="@string/accessibility_service_label"
            android:description="@string/accessibility_service_description">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver
            android:name=".appmanager.UninstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <uses-library android:name="org.apache.http.legacy"
            android:required="false"/>

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <meta-data
            android:name="com.google.android.wearable.capabilities"
            android:resource="@xml/wear"
            android:value="ost_wear_app_companion" />

        <service
            android:name=".DataLayerListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:path="/request_wear_version"/>
            </intent-filter>
        </service>
    </application>
</manifest>